{% extends 'base.html.twig' %}
{% block body %}

    {# Création de variable #}
    {% set name = 'Michel' %}
    <h2>Hello {{ name }}</h2>

    {# Création d'un tableau #}
    {% set colors = ['red', 'yellow', 'purple', 'cornflowerblue'] %}


    {% for color in colors %}
        {% if loop.first %}
            <p>Première couleur</p>
        {% elseif loop.last %}
            <p>Dernière couleur</p>
        {% endif %}
        <div style="background-color: {{ color }}">{{ color }}</div>
        <div>Index de l'élément : {{ loop.index }} / {{ loop.length }}</div>
        <div>Index de l'élément à partir de 0: {{ loop.index0 }}</div>
    {% endfor %}

    {# Utilisation d'objet #}

    {% set user = {name: 'Michel', age:98} %}
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>


    {# filtres #}
    <h2>Quelques filtres</h2>
    <div>{{ name | upper }}, Taille du nom : {{ name|length }}</div>

    <div>Taille du tableau : {{ colors | length }} couleurs</div>

    <div>Date du jour : {{ 'now' | date('d/m/Y') }}</div>

    <h3>Série !</h3>
    <div>{{ mySerie.name }}</div>
    <div>{{ mySerie.author }}</div>
    <div>Nombre épisodes : {{ mySerie.nbEpisode }}</div>
    <div>Date du serveur : {{ date | date('d/m/Y H:i') }}</div>

    <h3>XSS</h3>
    <div>{{ username }}</div>
    {# désactive la protection xss #}
    <div>{{ username | raw }}</div>
    {# enlève les balises #}
    <div>{{ username | striptags }}</div>

{% endblock %}
