<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Series</title>
</head>
<body>
<h1>Test Series !</h1>

{# Création de variable #}
{% set name = 'Michel' %}
<h2>Hello {{ name }}</h2>

{# Création d'un tableau #}
{% set colors = ['red', 'yellow', 'purple', 'cornflowerblue'] %}


{% for color in colors %}
    {% if loop.first %}
        <p>Première couleur</p>
    {% elseif loop.last %}
        <p>Dernière couleur</p>
    {% endif %}
    <div style="background-color: {{ color }}">{{ color }}</div>
    <div>Index de l'élément : {{ loop.index }} / {{ loop.length }}</div>
    <div>Index de l'élément à partir de 0: {{ loop.index0 }}</div>
{% endfor %}

{# Utilisation d'objet #}

{% set user = {name: 'Michel', age:98} %}
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>
</body>
</html>
