{% extends 'base.html.twig' %}

{% block body %}

    <h2>List of TV-SHOW</h2>
    <div>
        {% if currentPage > 1 %}
            <a href="{{ path('series_list', {'page' : currentPage - 1}) }}">Previous page</a>
        {% endif %}
        {% if currentPage < maxPage %}
            <a href="{{ path('series_list', {'page' : currentPage + 1}) }}">Next page</a>
        {% endif %}
    </div>
    <section class="series-list">


        {% for serie in series %}
            <article>
                <a href="{{ path('series_show', {'id': serie.id}) }}">

                    <div class="serie-name">{{ serie.name }}</div>
                    <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
            </article>
        {% endfor %}

    </section>

{% endblock %}

{% block title %}

{% endblock %}

